/* src/App.css */
.App {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #a44eac;
}

.product-list, .cart, .order-form {
  margin-top: 20px;
  color: brown;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: blue;
  
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: blue;
  border-color: darkgoldenrod;
}
